<td><input type="text" class='title' name="title" id="title_<%= _id%>" value=<%= title %> ></td>
<td><%= $.timeago(created_at) %></td>
<td><%= creator %></td>


<td><a href="#/<%= _id %>/edit">Edit</td>
<td><a href="#/<%= _id %>/destroy" class="destroy">Destroy</a></td>