<td><%= title %></td>
<td><%= notes %></td>
<td><%= created_at %></td>
<td><%= creator %></td>


<td><a href="#/<%= _id %>">Show</td>
<td><a href="#/<%= _id %>/edit">Edit</td>
<td><a href="#/<%= _id %>/destroy" class="destroy">Destroy</a></td>