<td><%= title %></td>
<td><%= notes %></td>
<td><%= created_at %></td>
<td><%= creator %></td>


<td><a href="#/<%= this.model.get('id') %>">Show</td>
<td><a href="#/<%= this.model.get('id') %>/edit">Edit</td>
<td><a href="#/<%= this.model.get('id') %>/destroy" class="destroy">Destroy</a></td>