- unless current_user.nil?
  = link_to '← Back to publications', template_publications_path(@publication.template)
#template
  .row
    .span8
      %h2= @publication.template.title
      %ul.items
        - @publication.template.items.roots.each do |item|
          = render "item", item: item
    .span2
      = form_tag publication_export_actions_path(@publication) do |f|
        = submit_tag 'Accomplish', class: 'btn-primary btn-large'
