= content_for :page_header do
  = @template.title

#items.row
  = form_for @template do |f|
    = f.fields_for :items do |item_fields|
      = render partial: 'item', locals: { template: @template, item: item_fields.object, level: 0, f: item_fields}
    .item{level: 0}
      .fields{style: "width: 760px; margin-left: 0;"}
        = link_to "[new item]", "", { class: "add_fields"}
    .actions
      = f.submit 'Save', class: "btn"

