%h1 Listing action_lists
%table
  %tr
    %th Title
    %th Goal
    %th
    %th
    %th
  - @action_lists.each do |action_list|
    %tr
      %td= action_list.title
      %td= action_list.goal
      %td= link_to 'Show', action_list
      %td= link_to 'Edit', edit_action_list_path(action_list)
      %td= link_to 'Destroy', action_list, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Action list', new_action_list_path
