= content_for :header do
  = link_to @project.title, project_actions_path(@project), { class: 'brand' }

- unless @parent_action.nil?
  .page-header
    %h2= @parent_action.title
    %p= @parent_action.description

#actions
  - @actions.each do |action|
    .action.row-fluid
      .action_info
        = check_box_tag "action[#{action.id}]", 1, action.completed?
        = label_tag "action[#{action.id}]", action.title
        .description= action.description
      .action_details
        = link_to project_action_actions_path(@project, action) do
          %i{class: "icon-chevron-right"}