<h1>Context: <%=@context%> </h1>

<table>
  <tr>
    <th>Title</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%counter=1%>

<% @actions.each do |action| %>

  <tr>
    <td><%= counter %></td>
    <td><%= check_box action, :status %></td>
    <td><%= action.title %></td>
    <td><%= action.notes %></td>
    <td><%= link_to 'Show', action %></td>
    <td><%= link_to action.parent.title, action.parent if action.parent%></td>
    <td><%= link_to 'Expand', :action => :index, :parent_id=>action.id if action.children.present? %></td>
    <td><%= link_to 'Edit', edit_action_path(action) %></td>
    <td><%= link_to 'Destroy', action, :confirm=>'Are you sure?', :method=> :delete %></td>
  </tr>
    <%counter+=1%>
<% end %>
</table>

<br />

<%= link_to 'New Action', new_action_path %>
