= content_for :header do
  = link_to @project.title, project_actions_path(@project), { class: 'brand' }

- unless @parent_action.nil?
  .page-header
    %h2= @parent_action.title
    %p= @parent_action.description

= content_for :page_header do
  &nbsp;

#project

:javascript
  $(function() {
    Project.init(#{ @project.to_json().html_safe });
  });