<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @action.title %>
</p>

<p>
  <b>Notes:</b>
  <%= @action.notes %>
</p>


<%= link_to 'Edit', edit_action_path(@action) %> |
<%= link_to 'Back', actions_path %>
