<div class="action-status">
  <input type='checkbox' class='status' id="action[<%= id %>]" <%= completed ? 'checked="checked"' : '' %> />
</div>
<div class="action-info">
  <% if (!leaf) { %>
    <span class="action-details"><%= child_count %> <i class="icon-chevron-right"></i></span>
  <% } %>
  <span class="action-title"><%= title %></span>
  <% if (description != null && description != '') { %>
    <p class="action-description"><%= description %></p>
  <% } %>
</div>