<div class="action-status">
  <input type='checkbox' class='status' id="action[<%= id %>]" <%= completed ? 'checked="checked"' : '' %> />
</div>
<div class="action-info">
  <% if (!leaf) { %>
    <span class="action-details"><span class="badge"><%= child_count %></span><i class="icon-chevron-right"></i></span>
  <% } %>
  <span class="action-title"><%= title %></span>
  <% if (description != null && description != '') { %>
    <p class="action-description show-less"><%= description %></p>
    <a href="#" class="separator">more…</a>
  <% } %>
</div>