
- unless user_signed_in?
  .row{style: 'border-bottom-style: solid; border-bottom-width: 1px; border-bottom-color: grey'}
    =render 'devise/shared/sign_in_social'

-@newest_publications.each do |p|
  .row.news_feed_item
    .span6
      .checkbox{:"data-content" => "#{render 'shared/newsfeed_popover', p: p}" }
        &#10003;
      = link_to p.template.title, publication_path(p), {:class=>'publication_link'}
      %p
        %i published
        = distance_of_time_in_words_to_now(p.updated_at)
        ago
    .span4{:style=>'text-align: right'}
      = image_tag p.creator.profile_image_url, {:style=>"max-height: 30px"} if  p.creator && p.creator.profile_image_url
      = p.creator ? link_to(p.creator.name, user_publications_path(p.creator.id), {:style=>"font-weight: bold; color: gray"}) : "Anonymous"
    .span10
      .description
        = raw(shrink_description(p.template.description, p.id))

:javascript
  $(document).ready(
   function(e)
   {
    $('.checkbox').popover({"placement" : "bottom", "title" : 'Follow the path...', 'description' : '', "trigger" : "manual"});
    //$('.checkbox').popover('hide')
    $('.checkbox').on('mouseenter', function(e){
      $('.checkbox').popover('hide')
      $(this).popover('show');
      $('.popover').on('mouseleave', function(e){
        $(this).hide();
      })
    })
   }
  )