<% if (typeof inList !== "undefined" && inList !== null && inList == true) {%>
  <a href="#<%= template_id %>/items/<%= _id %>/items" class="item-details"><i class="icon-chevron-right"></i></a>
<% } %>
<div class="title">
  <textarea name="title" rows="1" placeholder="Write your action title and hit enter"><%= title %></textarea>
</div>
<div class="description" style="display: <%= description == '' ? 'none':'block' %>">
  <textarea name="description" rows="3" placeholder="Description"><%= description %></textarea>
</div>