!!!
%html
  %head
    %title Actions
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1.0" }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          = yield :header
    .container-fluid
      .row-fluid
        .span12
          .content
            = yield
    %footer
