!!!
%html
  %head
    %title
      Actions
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .topbar{"data-dropdown" => "dropdown"}
      .fill
        .container
          = link_to 'actions.im', root_path, {class: 'brand'}
          = render 'shared/navigation'
    .container
      .content
        = yield
      %footer
