!!!
%html
  %head
    %title Goals
    = stylesheet_link_tag    "application"
    = javascript_include_tag "maven_tools_app"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          = link_to 'actions.im', root_path, {class: 'brand'}
          = render 'shared/navigation'
    .container
      #content
        - flash.each do |name, msg|
          .alert.fade.in{class: css_class_for_flash(name)}
            <a class="close" data-dismiss="alert">×</a>
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) && msg.present?
        = yield
      %footer
