!!!
%html
  %head
    %title= @page_title or 'actions.im'
    = favicon_link_tag  "/images/favicon.ico"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "maven_tools_app"
    = javascript_include_tag "bootstrap-tooltip"
    = javascript_include_tag "bootstrap-popover"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31463714-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner{:style => 'background-color: #E4E4E4; background-image: -webkit-linear-gradient(top, #E4E4E4, #E4E4E4)'}
        .container
          = link_to 'actions.im', root_path, {:class=> 'brand', :style => 'background-color: #fd560d; font-size: 24px; font-weight: 900; color: #ffffff ', }
          = render 'shared/navigation'
    .container
      #content
        - flash.each do |name, msg|
          .alert.fade.in{class: css_class_for_flash(name)}
            <a class="close" data-dismiss="alert">×</a>
            = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) && msg.present?
        = yield
      %footer
